.DirListItemOdd, .DirListItemEven {
    border-radius: "3px";
    width: 600px;
    padding: "12px";
    color: "#333";
    font-size: "14px";
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    cursor: pointer;
}

.DirListItemOdd {
    background: #f4f4f4;
}

.DirListItemEven {
    background: #fff;
}

.DirListItemEven:hover, .DirListItemOdd:hover {
    background: #a0a0a0;
}
td.noborder{
    border-top: hidden;
}
.nav-link{
    padding: 0;
}